body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.divider {
  height: 2px;
  background-color: #A0F9FF;
}

button {
  cursor: pointer;
}

fieldset {
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  padding: 20px;
  margin: 0;
}